debug/
dist/
out/
CMakeLists.txt.user
.vs/
.clion/
.idea/
.vscode/
.DS_Store
# C/C++ 项目
build/
.CMakeLists.txt.user
.cmake-build-debug/
.cmake-build-release/
.clion/
.cache/


*.mp4
*.mkv
*.avi
*.gif
*.yuv
*.pcm